<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797747569275-d2a60a4rscibih6lqcrjp5vrav57t7pg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797747569275-d2a60a4rscibih6lqcrjp5vrav57t7pg</string>
	<key>API_KEY</key>
	<string>AIzaSyBA5tX-nbiPgxbBetR9yFh_ztmp3zkiU6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>797747569275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.salesAlertApp</string>
	<key>PROJECT_ID</key>
	<string>sales-alert-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sales-alert-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797747569275:ios:0c7603a1a29c63470478de</string>
</dict>
</plist>